body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.striked {
	text-decoration: line-through;
}



.list-group-item {
/*	display: inline-block;
	/*float:left;*/
	/*border: 0px;*/
}



.del-button {

}

.shoplistitem {
	
}